<div class="uk-modal" id="createTicketTypeModal" ng-controller="settingsCtrl">
    <div class="uk-modal-dialog">
        <form class="uk-form-stacked" id="createTicketTypeForm" ng-submit="createTicketType($event)">
            <div class="">
                <h2 class="nomargin mb-5">Crear Tipo de Ticket</h2>
                <p class="uk-text-small uk-text-muted">Crear un tipo de ticket</p>
                <label for="typeName">Nombre del Tipo</label>
                <input type="text" class="md-input" id="typeName" name="typeName"
                       data-validation="length"
                       data-validation-length="min3"
                       data-validation-error-msg="Por favor ingrese un nombre de tipo válido. El nombre del tipo debe contener al menos 3 caracteres." />
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button type="button" class="md-btn md-btn-flat uk-modal-close">Cerrar</button>
                <button type="button" class="md-btn md-btn md-btn-success" id="submitCreateTicketType" ng-click="createTicketType($event)">Crear</button>
            </div>
        </form>
    </div>
</div>