<div class="uk-modal" id="createTagModal" ng-controller="commonCtrl">
    <div class="uk-modal-dialog">
        <form class="uk-form-stacked" id="createTagForm" ng-submit="createTag('{{page}}', $event)">
            <div class="">
                <h2 class="nomargin mb-5">Crear una etiqueta</h2>
                <p class="uk-text-small uk-text-muted">Las etiquetas categorizan tickets, facilitando la identificación de problemas</p>

                <label for="typeName">Nombre de la Etiqueta</label>
                <input type="text" class="md-input" id="tagName" name="tagName"
                       data-validation="length"
                       data-validation-length="min2"
                       data-validation-error-msg="Por favor ingrese un nombre de etiqueta válido. El nombre de la etiqueta debe contener al menos 2 caracteres." />
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button type="button" class="md-btn md-btn-flat uk-modal-close">Cerrar</button>
                <button type="submit" class="md-btn md-btn-flat md-btn-flat-success" id="submitCreateTagBtn">Crear</button>
            </div>
        </form>
    </div>
</div>